body
{
    font-family: "Verdana", "Geneva", sans-serif;
}
.darkmiraImage
{
    height: 50px;
    background-color: green;
}
.mainWrapper
{
    height:100px;
    width:80%;
    margin: 0 auto;
}
h1
{
    text-align: center;
    font-size: 50px;
    color: darkgreen;
}
h2
{
    text-align: center;
    font-size: 30px;
    color: darkgreen;
}
.secondaryText
{
    text-align: center;
    font-size: 20px;
}
.smallTitle
{
    color: green;
    font-weight: bold;
}