@import url('https://fonts.googleapis.com/css?family=Roboto%20Condensed');
body
{
    font-family: "Roboto Condensed", sans-serif;
    background-color:black;
    background-image: url("../media/imgpsh_fullsize3.png");
    background-repeat: no-repeat;
    color:white;
    width: 842px;
}
.mainWrapper
{
    width:700px;
    height:200px;
    margin: 0 auto;
    margin-top: 150px;
}
h1
{
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 30px;
}
h2
{
    text-align: center;
    font-size: 30px;
    color: #289948;
}
.secondaryText
{
    line-height: 38px;
    text-align: center;
    font-size: 23px;
}
.tertiaryText
{
    text-align: center;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}
.smallTitle
{
    color: #FCCD05;
    font-weight: bold;
}
.signatureWrap
{
    heigth: 310px;

    background-color:red;
    margin-bottom: 70px;
}
.signatureBlock
{
    margin: 0px 67px 0px 67px;
    width: 210px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
    background-color:pink;;
}
.imageWrap
{
    background-color:orange;
    height:100px;
}
.signatureNames
{
    font-size: 15px;
    text-align: center;
}