@import url('https://fonts.googleapis.com/css?family=Roboto%20Condensed');
body
{
    font-family: "Roboto Condensed", sans-serif;
}
h2
{
    text-align: center;
    color: #FCCC04;
}
.mainWrapper
{
    padding: 40px;
    padding-bottom:35px;
    height:100%;
    width: 70%;
    margin: 0 auto;
    background-image: url("../media/imgpsh_fullsize.png");
    background-repeat: no-repeat;
}
.formWrapper
{
    margin: 0 auto;
    width: 50%;
}
.inputTextWrapper
{
    margin: 0 auto;
    width: 100%;
    height: 40px;
}
.inputText
{
    width:100%;
    font-size: 20px;
    border-radius: 1px 1px 1px 1px;
    border: solid 2px black;
    height:100%;
}
.submitWrapper
{
    margin: 0 auto;
    margin-top:20px;
    height:60px;
    width:150px;
}
.validButton
{
    height:100%;
    width:100%;
    border: solid 0px;
    color:white;
    cursor: pointer;
    font-size:20px;
    border: solid 1px white;
    border-radius: 1px 1px 1px 1px;
    background-color: rgba(0,0,0,0)
}

.validButton:hover
{
    color: #FCCC04;
    border: solid 1px #FCCC04;
    background-color: #302600;
}
.notFoundtext
{
    text-align: center;
    color: red;
}